body, .container-fluid {
  background:#fafafa !important;
}
  .lineaPedido>td {
    max-height: 10px;
  }
  .productPrice {
    text-align: right;

  }
  .productQty {
    text-align:center !important;
    max-width:45px;
  }
  .pedido {
    cursor:pointer;
    background:#232323;
    color:white;
  }
  .animated {
    animation-duration: .2s ;
  }

  .componentWrap {
    padding:5px 20px 20px 20px;
    margin:10px 0px;
    min-width: 300px;
    background:white;
    box-shadow:1px 2px 2px #ccc;
    border:1px solid #ccc;
    position:relative
  }

  .componentWrap>h3 {
    margin-bottom:20px
  }

  span.fa.fa-cart-plus {
    font-size:25px;
    cursor:pointer;
  }
    span.fa.fa-cart-plus:hover {
      color:orange;
    }
  .filtering {
    margin-bottom:10px;
  }


  /************************ Inicio de Sesion ******************/

  .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/****************** FIn Inicio de Sesion ********************************/

  .summary {
    padding:5px 20px 20px 20px;
    background:white;
    box-shadow:1px 2px 2px #ccc;
    border:1px solid #ccc;
    width:260px;
  }
